In [135]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [136]:
data = pd.read_csv("data.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15751 entries, 0 to 15750
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   time              15751 non-null  object
 1   voltage_level[V]  15751 non-null  int64
 2   width[percent]    15751 non-null  int64
 3   input[V]          15751 non-null  object
 4   output[V]         15751 non-null  object
dtypes: int64(2), object(3)
memory usage: 615.4+ KB

In [137]:
data.head(92)

,time,voltage_level[V],width[percent],input[V],output[V]
0,12:39:31,1,20,+1.74704657E-01,+1.68402458E-02
1,12:39:33,1,20,+1.74660746E-01,+1.68348209E-02
2,12:39:35,1,20,+1.74607302E-01,+1.68326707E-02
3,12:39:37,1,20,+1.74598236E-01,+1.68335084E-02
4,12:39:39,1,20,+1.74570314E-01,+1.68265409E-02
...,...,...,...,...,...
87,12:42:25,1,20,+1.74527456E-01,+1.68250345E-02
88,12:42:27,1,20,+1.74525753E-01,+1.68280258E-02
89,12:42:29,1,20,+1.74549174E-01,+1.68242670E-02
90,12:42:31,1,30,+3.00079619E-01,+2.94284844E-02
91,12:42:33,1,30,+3.05236120E-01,+2.94260115E-02

In [138]:
data["input[V]"] = [i[1::] for i in data["input[V]"]]
data["output[V]"] = [i[1::] for i in data["output[V]"]]

In [139]:
data.tail()

,time,voltage_level[V],width[percent],input[V],output[V]
15746,21:24:23,25,80,+1.99411915E+01,+1.94810426E+00
15747,21:24:25,25,80,+1.99413002E+01,+1.94808596E+00
15748,21:24:27,25,80,+1.99410586E+01,+1.94808758E+00
15749,21:24:29,25,80,+1.99406570E+01,+1.94809834E+00
15750,21:24:31,26,20,+4.72173828E+00,+4.33062414E-01

In [140]:
data = data [::-1]

In [141]:
data = data[1::]
data = data [::-1]

In [142]:
data = data [1::]
data.head()

,time,voltage_level[V],width[percent],input[V],output[V]
1,12:39:33,1,20,+1.74660746E-01,+1.68348209E-02
2,12:39:35,1,20,+1.74607302E-01,+1.68326707E-02
3,12:39:37,1,20,+1.74598236E-01,+1.68335084E-02
4,12:39:39,1,20,+1.74570314E-01,+1.68265409E-02
5,12:39:41,1,20,+1.74551919E-01,+1.68269117E-02

In [143]:
data.tail()

,time,voltage_level[V],width[percent],input[V],output[V]
15745,21:24:21,25,80,+1.99409120E+01,+1.94814947E+00
15746,21:24:23,25,80,+1.99411915E+01,+1.94810426E+00
15747,21:24:25,25,80,+1.99413002E+01,+1.94808596E+00
15748,21:24:27,25,80,+1.99410586E+01,+1.94808758E+00
15749,21:24:29,25,80,+1.99406570E+01,+1.94809834E+00

In [144]:
widths = ["20", "30", "40", "50", "60", "70", "80"]
voltages = list(data["voltage_level[V]"].unique())

In [145]:
drop_list = []
for volt in voltages:
    filter1 = data["voltage_level[V]"] == volt
    data1 = data[filter1]
    for width in widths:
        filter2 = data1["width[percent]"] == int(width)
        data2 = data1[filter2]
        index_list = list(data2.index.values)
        #print(index_list)
        for j in range(4):
            drop_list.append(index_list[j])
clean_data = data.drop(drop_list)

In [146]:
clean_data.head(260)

,time,voltage_level[V],width[percent],input[V],output[V]
5,12:39:41,1,20,+1.74551919E-01,+1.68269117E-02
6,12:39:43,1,20,+1.74514424E-01,+1.68241675E-02
7,12:39:45,1,20,+1.74513631E-01,+1.68272535E-02
8,12:39:47,1,20,+1.74535610E-01,+1.68255127E-02
9,12:39:49,1,20,+1.74516864E-01,+1.68271101E-02
...,...,...,...,...,...
268,12:48:27,1,40,+4.03852467E-01,+3.89305357E-02
269,12:48:29,1,40,+4.03872241E-01,+3.89352922E-02
274,12:48:39,1,50,+4.93423220E-01,+4.75645251E-02
275,12:48:41,1,50,+4.93333550E-01,+4.75573679E-02
276,12:48:43,1,50,+4.93341235E-01,+4.75581226E-02

In [147]:
features = ["time", "voltage_level[V]", "width[percent]", "input[V]", "output[V]"]

In [148]:
dictionary = {"time":clean_data["time"], "voltage_level[V]":clean_data["voltage_level[V]"], 
              "width[percent]":clean_data["width[percent]"], "input[V]":clean_data["input[V]"], 
              "output[V]":clean_data["output[V]"]}

In [149]:
df = pd.DataFrame(dictionary, columns = features)

In [150]:
df.to_csv ('C:\\Users\\aunal\\Downloads\\res_calc\\corrected_data.csv', index = False, header = True)